[submodule "workspace/runners/enterprise"]
	path = workspace/runners/enterprise
	url = git@github.com:sowers-io/bosca-runners-enterprise.git
[submodule "workspace/web/administration"]
	path = workspace/web/administration
	url = git@github.com:sowers-io/bosca-administration.git
