:root {
    --app-header: transparent;
}

.wh-header__product-name {
    font-size: 24px !important;
}

.wh-header__product-name + div {
    padding-top: 10px;
    font-size: 10px !important;
}

.app__header {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
}

.app__breadcrumbs {
    display: none;
}

.app__sub-header {
    display: none;
}

h1 > .label.title__label.title__label--related-h1 > span {
    display: none !important;
}

.label.toc-item__label > .label__content.label__content--color-primary.label__content--mode-pale {
    display: none;
}

#top-links > a {
    padding: 6px 10px 6px 10px;
    border-radius: 32px;
    margin-right: 16px;
}

#top-links > a:first-child {
    border: 1px solid #83ad6d;
    background-color: rgba(131, 173, 109, 0.1);
}

#top-links > a:nth-child(2) {
    border: 1px solid #9f9fa9;
    color: #9f9fa9;
}

.app__article {
    padding-top: 0;
}

.article__h1 {
    margin-top: 0;
    padding-top: 0;
}

.article__h1 > .title:nth-child(2) {
    padding-top: 24px !important;
    display: block;
}

.article__h2 {
    font-size: 32px;
    margin-top: 0;
    padding-top: 0;
}

.app__sidebar {
    border: 0;
}

.toc-item--selected.toc-item--theme-light,
.toc-item--selected.toc-item--theme-light:hover  {
    background-color: transparent;
    font-weight: bold;
}

.toc-item--highlighted.toc-item--theme-light {
    background-color: transparent;
    color: #000;
}

.toc-item--selected.toc-item--theme-dark,
.toc-item--selected.toc-item--theme-dark:hover  {
    background-color: transparent;
    font-weight: bold;
}

.toc-item--highlighted.toc-item--theme-dark {
    background-color: transparent;
    color: #fff;
}

.app__footer {
    background-color: transparent;
}

#ingress-component-type,
#bosca-analytics-component-type,
#bosca-analytics-licensing,
#bosca-server-component-type,
#bosca-server-licensing,
#bosca-workflow-server-component-type,
#bosca-workflow-server-licensing,
#bosca-workflow-component-type,
#bosca-workflow-licensing,
#postgresql-component-type,
#postgresql-licensing,
#meilisearch-component-type,
#meilisearch-licensing,
#dragonfly-component-type,
#dragonfly-licensing,
#object-storage-component-type,
#qdrant-component-type,
#qdrant-component-seemore,
#qdrant-licensing,
#image-processor-license,
#image-processor-language,
#image-processor-component-type {
    margin: 8px 0 0 0;
    padding: 0;
    font-size: small;
}
